# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/keywordspos
!/modules/keywordspos/*
/themes/*
!/themes/admin_default/css/keywordspos.css
!/themes/admin_default/js/keywordspos.js
!/themes/admin_default/js/keywordspos_*.js
!/themes/admin_default/js/plupload/*
!/themes/admin_default/images/keywordspos
!/themes/admin_default/images/keywordspos/*
!/themes/admin_default/modules/keywordspos
!/themes/admin_default/modules/keywordspos/*
!/themes/default/css/keywordspos.css
!/themes/default/js/keywordspos_*.css
!/themes/default/js/keywordspos.js
!/themes/default/js/keywordspos_*.js
!/themes/default/images/keywordspos
!/themes/default/images/keywordspos/*
!/themes/default/modules/keywordspos
!/themes/default/modules/keywordspos/*
/.project
/vendor/
/.gitattributes
/composer.json
/.settings/
/.buildpath
/error.php
/location.update.php
